* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fafafa;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 20px;
}

.sidebar {
  width: 200px;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.nav {
  list-style: none;
}

.nav li {
  padding: 12px 0;
  font-size: 15px;
  cursor: pointer;
}

.nav li:hover {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding-left: 10px;
}

.feed {
  width: 600px;
  padding: 20px;
}

.suggestions {
  width: 300px;
  padding: 20px;
}

.stories {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

story {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: #333;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ddd;
  border: 2px solid #d72c35;
  padding: 2px;
  margin-bottom: 5px;
}

.post {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fff;
  width: 60%;
  margin-top: 150px;
  margin-right: 100px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.avatar-small {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ddd;
}

.post-image {
  width: 100%;
  height: 350px;
  background: #ccc;
}

post-actions {
  padding: 10px 15px;
  font-size: 20px;
}

.post-caption {
  padding: 0 15px;
  font-size: 14px;
  margin-bottom: 5px;
}

.post-time {
  padding: 0 15px 15px 15px;
  font-size: 11px;
  color: #777;
}

.suggestions {
  position: sticky;
  top: 20px;
  height: fit-content;
  font-size: 14px;
}

.profile-preview {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sub-text {
  font-size: 12px;
  color: #777;
}

.suggest-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 13px;
}

.view-all {
  color: #3897f0;
  cursor: pointer;
}

.suggest-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.suggest-item .avatar {
  margin-right: 10px;
}

.follow-btn {
  background: none;
  border: none;
  color: #3897f0;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
}

/* image added */
.post-image {
  width: 100%;
  height: 250px;
  background-image: url("catuu.jpg");
  background-size: cover;
  background-position: center;
}
